{% extends "layout.html" %}

{% block title %}
    Courses
{% endblock %}

{% block main %}
    <div class="row align-items-center mt-5 mx-3">
        <div class="col-md">
            <img src="../static/UniVision_logo.png" class="img-fluid" alt="UniVision logo">
        </div>
        <div class="col-md">
            <form action="/list" method="post" class="form-inline">
                <div class="form-group">
                    <button id="list" class="btn btn-primary btn-lg ml-3 mr-1" type="submit">Overview of Courses</button>
                </div>
            </form>
        </div>
        <div class="col-md">
            <form class="form-inline float-right">
                <div class="form-group">
                    <label for="attendance">Attendance:</label>
                    <button id="stop" class="btn btn-primary btn-lg ml-3 mr-1" type="submit">Stop</button>
                    <button id="start" class="btn btn-primary btn-lg mx-1" type="submit">Start</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table id="data" class="table table-hover">
                <tbody id="data-body">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
