{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
    <div class="row align-items-center mt-5 mx-3">
        <div class="col-md">
            <img src="../static/UniVision_logo.png" class="img-fluid" alt="UniVision logo">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table id="data" class="table table-hover">
                <tbody id="data-body">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
